/* CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#landing-page {
	height:50vh;
	background-image: url(https://images.pexels.com/photos/73873/star-clusters-rosette-nebula-star-galaxies-73873.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260); 
	/* it stretches our bg image to cver the area of the element*/
	background-size: cover;
	/*it prevents your bg image to repeat*/
	background-repeat: no-repeat;
	/* positio
	ns or moves your bg image to the center of the element*/
	background-position: center; 
	/*display:flex;
	flex-direction:column;
	align-items:center;
	background-color: #6DCCDE;
	color: #fff;*/
}

#icon {
	width: 30px;
	height: 30px;
}

#gmap-canvas {
	height: 60vh;
	width: 100%;
}

#pic {
	width: 500vh;
	height: 500vh;
}

li {
	list-style-type: none;
}

h3 {
    margin-bottom: 0;
}

/*css for activity*/

.section-products {
    padding: 50px 0 50px;
}

.section-products .header {
    margin-bottom: 50px;
}

.section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 50px;
}

.section-products .header h2 {
    font-size: 2.2rem;	
    color: #444444; 
}

.section-products .single-product {
    margin-bottom: 26px;
}

.section-products .single-product .pic-holder {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 15px;
    overflow: hidden;
}

.section-products .single-product .pic-holder::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: all 0.5s;
}

.section-products .single-product:hover .pic-holder::before {
		transform: scale(1.2,1.2) rotate(10deg);
}

.section-products #product-1 .pic-holder::before {
    background: url("https://www.splento.com/blog/wp-content/uploads/2020/05/Clothing-flatlay.jpg") no-repeat center;
    background-size: cover;
	transition: all 0.5s;
}

.section-products #product-2 .pic-holder::before {
    background: url("https://i.pinimg.com/736x/19/18/f9/1918f997a3132ea88d9c6121faaad8ce.jpg") no-repeat center;
    background-size: cover;
    transition: all 0.5s;
}

.section-products #product-3 .pic-holder::before {
    background: url("https://i.pinimg.com/474x/73/8c/e9/738ce972c53404b6e279d97f4e602fb1--fashion-tips-mens-fashion.jpg") no-repeat center;
    background-size: cover;
    transition: all 0.5s;
}

.section-products #product-4 .pic-holder::before {
    background: url("https://szajewski.com/images/Portfolio/20190806/nowe1/POST_house_20150826_2.jpg") no-repeat center;
    background-size: cover;
    transition: all 0.5s;
}

.section-products #product-5 .pic-holder::before {
    background: url("https://gatheringdreams.com/wp-content/uploads/2019/03/places-to-sell-clothes-online-main-square-01.jpg") no-repeat center;
    background-size: cover;
		transition: all 0.5s;
}

.section-products #product-6 .pic-holder::before {
    background: url("https://i.pinimg.com/564x/66/7b/ce/667bcee66e95414476af5c1f6ef5dc2c.jpg") no-repeat center;
    background-size: cover;
    transition: all 0.5s;
}

.section-products #product-7 .pic-holder::before {
    background: url("https://i.pinimg.com/originals/6f/c5/f3/6fc5f3556c1e2f70ef74c6bd45653cbb.jpg") no-repeat center;
    background-size: cover;
    transition: all 0.5s;
}

.section-products #product-8 .pic-holder::before {
    background: url("https://i.pinimg.com/564x/bb/c2/20/bbc22011959f60477e853572c31bff69.jpg") no-repeat center;
    background-size: cover;
    transition: all 0.5s;
}

.section-products .single-product .product-info .product-title {
    font-size: 1rem;
}

.section-products .single-product .product-info h4 {
    display: inline-block;
    font-size: 1rem;
}

#product-description {
	margin: 0;
}
